/* lanePlot */
.lanePlot {
    font-size: 1em;
    margin: 0;
    padding: 0;
    color: #000;
}

.clearfix {
    clear: both;
}

/* labelContainer */
.lanePlot > .labelContainer {
    float: left;
    width: 126px;
    margin-left: -100%;
    border-right: 1px solid #E9E9FB;
}

.lanePlot > .labelContainer div.label {
    padding: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.lanePlot > .labelContainer img.icon {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    padding-bottom: 2px;
}

.lanePlot > .labelContainer div:nth-child(odd) {
    background: #F2F2FF;
}

/* eventContainer */
.lanePlot > .eventContainer {
    float: left;
    width: 100%;
}

.lanePlot > .eventContainer .svgWrapper {
    overflow-x: scroll;
    /*-webkit-overflow-scrolling: touch;*/
    margin-left: 126px;
    outline: none;
}

.lanePlot > .eventContainer .svgWrapper::-webkit-scrollbar {
    -webkit-appearance: none;
}

.lanePlot > .eventContainer .svgWrapper::-webkit-scrollbar:horizontal {
    height: 11px;
}

.lanePlot > .eventContainer .svgWrapper::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .5);
}

/* graphics */
.lanePlot .lanes path {
    fill: none;
    stroke: #7D7F7E;
    shape-rendering: crispEdges;
    stroke-dasharray: 2, 2;
}

.lanePlot .axis text {
    font: 10px Arial;
    fill: #7D7F7E;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.lanePlot .axis line,
.lanePlot .axis path {
    fill: none;
    stroke: #7D7F7E;
    shape-rendering: crispEdges;
}

.lanePlot .axis line {
    stroke-dasharray: 2, 2;
}

.lanePlot .event, .interval {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.lanePlot .interval text, .event text {
    dominant-baseline: central;
    alignment-baseline: middle;
}

.lanePlot .event {
    font-size: 12px;
    font-weight: bold;
}

.lanePlot svg {
    -webkit-transform: translate(4px, 0);
    -ms-transform: translate(4px, 0);
    overflow: hidden;
}