/* lanePlot */
.lanePlot {
    font-size: 1em;
    margin: 0;
    padding: 0;
    color: #000;
}

.clearfix {
    clear: both;
}

/* labelContainer */
.lanePlot > .labelContainer {
    float: left;
    width: 126px;
    margin-left: -100%;
    border-right: 1px solid #E9E9FB;
}

.lanePlot > .labelContainer div.label {
    padding: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.lanePlot > .labelContainer img.icon {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    padding-bottom: 2px;
}

.lanePlot > .labelContainer div:nth-child(odd) {
    background: #F2F2FF;
}

/* eventContainer */
.lanePlot > .eventContainer {
    float: left;
    width: 100%;
}

.lanePlot > .eventContainer .svgWrapper {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    margin-left: 126px;
}

.lanes path {
    fill: none;
    stroke: #7D7F7E;
    shape-rendering: crispEdges;
    stroke-dasharray: 2, 2;
}

.axis text {
    font: 10px Arial;
    fill: #7D7F7E;
    font-weight: bold;
    /*stroke: #000;*/
    /*fill: #000;*/
}

.axis line,
.axis path {
    fill: none;
    stroke: #7D7F7E;
    shape-rendering: crispEdges;
}

.axis line {
    stroke-dasharray: 2, 2;
}

.event {
    font-size: 12px;
    font-weight: bold;
}