/*
    VacuumGantt CSS
 */
.vacuumGantt {
    font-size: 13px;
    margin: 0;
    padding: 0;
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
}

.vacuumGantt * {
    margin: 0;
    padding: 0;
    border: 0;
}

.clearfix {
    clear: both;
}

/*
    Left column (lane label container)
 */
.vacuumGantt > .leftCol {
    float: left;
    margin-left: -100%;
    border-top: 1px solid #BABABA;
}

.vacuumGantt > .leftCol div.lane-label {
    padding: 0 5px;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-left: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
    position: relative;
    display: block;
}

.vacuumGantt > .leftCol .lane-icon {
    position: absolute;
    top: 0;
    left: 5px;
    bottom: 0;
    margin: auto;
}

.vacuumGantt .oddLane {
    background: white;
}
.vacuumGantt .evenLane {
    background: #EEEEEE;
}

.vacuumGantt .axisSwitch {
    border-left: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
}

/*
    Right column (event/interval container)
 */
.vacuumGantt > .rightCol {
    float: left;
    width: 100%;
    border-top: 1px solid #BABABA;
}

.vacuumGantt > .rightCol .svgWrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    outline: none;
    position: relative;
    border-left: 1px solid #BABABA;
    border-right: 1px solid #BABABA;
}

.vacuumGantt > .rightCol .svgWrapper::-webkit-scrollbar {
    -webkit-appearance: none;
}

.vacuumGantt > .rightCol .svgWrapper::-webkit-scrollbar:horizontal {
    height: 11px;
}

.vacuumGantt > .rightCol .svgWrapper::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .5);
}

/*
    SVG styles
 */
.vacuumGantt > .rightCol svg {
    overflow: hidden;
    z-index: 0;
}

.vacuumGantt > .rightCol .yaxis {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

/*.vacuumGantt > .rightCol .xaxis text {*/
    /*font: 10px Arial;*/
    /*fill: #7D7F7E;*/
    /*font-weight: bold;*/
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*}*/

.vacuumGantt > .rightCol .xaxis line,
.vacuumGantt > .rightCol .xaxis path {
    fill: none;
    stroke: #D6D6D6;
    shape-rendering: crispEdges;
}

.vacuumGantt > .rightCol .xaxis div {
    text-align: center;
}

.vacuumGantt > .rightCol .xaxis line {
    stroke-dasharray: 0;
}

.vacuumGantt > .rightCol .xaxis line.solid {
    stroke-dasharray: 0;
}

/*
    Events, intervals (text, icon)
 */
.vacuumGantt > .rightCol .eventText,
.vacuumGantt > .rightCol .intervalText {
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.vacuumGantt > .rightCol .eventText {
    background: rgba(255,255,255,0);
    z-index: 2;
}

.vacuumGantt > .rightCol .intervalText {
    background: rgba(255,255,255,0);
    z-index: 1;
}

.vacuumGantt > .rightCol .eventsGroup {
    background: rgba(255,255,255,0);
}

.vacuumGantt > .rightCol .toFront {
    z-index: 3;
}

.vacuumGantt > .rightCol .eventText .eventIcon,
.vacuumGantt > .rightCol .intervalText .intervalIcon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

